h1{
    text-align: center;
	color : red;
}
h2{
	color : blue;
}
h3{
	color : green;
	}
header {
	background-color : #E8C5F0;
}	
footer {
	background-color : #AD8C86;
	
    margin: 20px 12px;
}
section {
	background-color : #CF867C;
	padding: 0 10px 2px 20px;
}
p{
    border: 2px solid #000; /* bordure noire de 2 pixels */
    padding: 10px;          /* espace intérieur de 10 pixels */
    margin: 10px 0;         /* un peu d’espace au-dessus et en-dessous */
	display: inline-block;  /* le cadre s'adapte au texte
}