h1{
    text-align: center;
	color : #C74680;
}
h2{
	color : blue;
}
h3{
	color : green;
	}
header {
	background-color : #E8C5F0;
	margin : auto;
	padding: 0 10px 2px 20px; /* marge interne */
}	
footer {
	background-color : #AD8C86;
	padding: 0 10px 2px 20px;
}
section {
	background-color : #CF867C;
	padding: 0 10px 2px 20px;
}
p {
    border: 2px solid #000; 
    padding: 10px;          
    margin: auto;         
	display: inline-block; /* le cadre s'adapte au texte */
}
main {
	margin : auto;
	width : 80w;
}	